<%- include('../../public/assets/include/header'); %>

<section class="dashboard-wrapper">
    <div class="dashboard-container">
       <div class="dashboard-sidbar">
        <div class="sidbar-box user-profile">
            <div class="user-icon">
               <img src="<%=respdata.image%>" alt="user-image" id="output">
            </div>
            <div class="user-info">
               <div class="sht-ui">Hello</div>
               <div class="user-name"><%=respdata.title%> <%=respdata.name%> </div>
            </div>
             <!-- Profile Image Modal Start -->   
   
            <div class="userimage-edit">
              <!--  <a href="javascript:void(0)" data-toggle="modal" data-target="#profile-change-modal"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
                <!--<label for="file"><i class="fa fa-pencil" aria-hidden="true"></i></label>-->
                <!--<input id="file" class="file-line" type="file" onchange="loadFile(event)">-->
                <label>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#upload-profile-modal" class="edit_link">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </label>
             </div>

            <div class="modal theme_modal short-modal change-profile-update" id="upload-profile-modal">
               <div class="modal-dialog">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="modal-content">
                     <div class="loginform-box short-box">
                        <h5 class="box-title">Change Profile Picture</h5>
                        <form action="/api/change-profile-image-web" method="POST" enctype="multipart/form-data">
                             <div class="inner-formbox">
                                <div class="profile-chnage-box">
                                   <div class="user-icon">
                                      <img src="<%=respdata.image%>" alt="user-image" id="output">                            
                                   </div>
                                   <input id="file" class="" name="pro_img" type="file"/>
                                   <input id="user_id" class="" name="user_id" type="hidden" value="<%=respdata.userId%>"/>
                                   <input class="update-btn" type="submit" value="Update Profile" />
                                </div>
                             </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
 <!-- Profile Image Modal End -->
         </div>
         <div class="sidbar-box sidbar-nav">
            <ul class="nav d-flex flex-column mb-2 ">
                <li class="nav-item">
                  <a class="nav-link" href="/api/my-account"><i class="fa fa-user" aria-hidden="true"></i> <span>Profile</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-list-ul" aria-hidden="true"></i> <span>My Orders</span></a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="/api/my-post/<%=respdata.userId%>"><i class="fa fa-file-image-o" aria-hidden="true"></i> <span>My Products</span></a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span>My Bids</span></a>
                </li>
                
              </ul>
              <div class="bottom-link">
               <ul class="nav d-flex flex-column mb-2 ">
                  <li><a class="nav-link" href="/api/sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Sign Out</span></a></li>
               </ul>

                       
                    </div>

         </div>        
       </div>

       <div class="dashboard-content">
          <div class="dashboard-infobox">
             <div class="dashboard-title-arrow mb-25">
                <h4 class="di-title mr-25">Add Your Product</h4>
                <div class="edit-link"><a href="/api/my-account">Back </a></div>
             </div>
             
             <div class="dsh-shortbox">
                <form action="/api/addnewpost" method="post" enctype="multipart/form-data" id="addPostForm">
                   <div class="div-row">
                   <div class="div-12">
                      <div class="post-imagebox">
                         <div class="upload-post full-post-image">
                            <h6 class="add-image-heading">+Add Image</h6>
                            <input type="file" name="image" id="imgInp" required />
                            <div class="alt_image"></div>
                         </div>
                         <div class="upload-post full-post-image">
                            <h6 class="add-image-heading">+Add Image</h6>
                             <input type="file" name="image" id="imgInp" />
                             <div class="alt_image"></div>
                         </div>
                         <div class="upload-post full-post-image">
                             <h6 class="add-image-heading">+Add Image</h6>
                             <input type="file" name="image"  id="imgInp" />
                             <div class="alt_image"></div>
                         </div> 
                          <div class="upload-post full-post-image">
                             <h6 class="add-image-heading">+Add Image</h6>
                             <input type="file" name="image" id="imgInp"  />
                             <div class="alt_image"></div>
                         </div> 
                          <div class="upload-post full-post-image">
                             <h6 class="add-image-heading">+Add Image</h6>
                             <input type="file" name="image" id="imgInp"  />
                             <div class="alt_image"></div>
                         </div>                       
                      </div>
                   </div> 
                      <div class="div-12">
                         <label>Product Name <span class="required">*</span></label>                        
                          <input type="type" name="name" class="ds-form-control" placeholder="Product Name" required>
                      </div>
 
                      <div class="div-12">
                         <label>Product Description</label>                        
                         <textarea class="ds-form-control" name="description" placeholder="Enter Message"></textarea>
                      </div>
 
                      <div class="div-6">
                         <label>Product Category </label>
                        <input type="type" name="product_cate" class="ds-form-control" placeholder="Enter Category">
                      </div>
 
                      <div class="div-6">
                         <label>Product Brand <span class="required">*</span></label>
                         <input type="type" name="brand" class="ds-form-control" placeholder="Enter Brand" required>
                      </div>
 
                      <div class="div-6">
                        <label for="productCondition">Product Condition <span class="required">*</span></label>
                        <select class="ds-form-control" name="product_condition" id="productCondition" required>
                            <option value="" disabled selected>Select Condition</option>
                            <% productcondition.forEach(function(item) { %>
                                <option value="<%= item._id %>"><%= item.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    
 
                      <div class="div-6">
                         <label>Product Size</label>
                         <input type="type" name="size" class="ds-form-control" placeholder="Product Size">
                      </div>
 
                      <div class="div-6">
                         <label>Original Invoice</label>
                         <label class="switch ">
                           <input type="checkbox" name="original_invoice">
                             <span class="tg-slider round"></span>
                         </label>
                         
                      </div>
 
                      <div class="div-6">
                        <label>Original Packaging</label>
                        <label class="switch ">
                           <input type="checkbox" name="original_package">
                             <span class="tg-slider round"></span>
                         </label>
                      </div>

                      <div class="div-6">
                        <label>Gender</label>
                        <div class=" inlineflex" >
                           <% if(genderList){%>
                              <% genderList.forEach(function(item) { %>
                                 <span>
                                    <input type="radio" id="<%= item._id %>" name="gender" value="<%= item._id %>">
                                    <label for="<%= item._id %>"><%= item.name %></label>
                                 </span>
                                 
                              <% }); %>   
                           <% } %>
                        </div>
                     </div>

    
                      <div class="div-6">
                         <label>Height</label>
                        <input type="type" name="height" class="ds-form-control" placeholder="Height in cm">
                      </div>
                      
                      <div class="div-6">
                         <label>Weight</label>
                        <input type="type" name="weight" class="ds-form-control" placeholder="Weight in Kg">
                      </div>
                      
                      <div class="div-6">
                         <label>Length</label>
                        <input type="type" name="length" class="ds-form-control" placeholder="Length in cm">
                      </div>
                      
                      <div class="div-6">
                         <label>Breadth</label>
                        <input type="type" name="breath" class="ds-form-control" placeholder="Breadth in cm">
                      </div>
                      
                      <div class="div-6">
                         <label>Price <span class="required">*</span></label>
                        <input type="type" name="price" class="ds-form-control" placeholder="Price" required>
                      </div>
 
                      <div class="div-6">
                         <label>Offer Price <span class="required">*</span></label>
                        <input type="type" name="offer_price" class="ds-form-control" placeholder="Offer Price" required>
                      </div>
                      
                     
                      <div class="div-12">
                         <input type="submit" name="" class="ds-form-control userpost-btn" value="Post Your Product">
                      </div>
                   </div>
                </form>
                
             </div>
             
          </div>
       </div>
    </div>
 </section>

<%- include('../../public/assets/include/newsletter'); %>
<%- include('../../public/assets/include/footer'); %>
</body>
<script src="/public/assets/js/myaccount.js"></script>