<%- include('../../public/assets/include/header'); %>
<% if(respdata != ''){ %>  
<section class="bids-wrapper">
    <div class="container"> 
       <div class="bids-lists cart-wrapper">
       <div class="cart-list">
         <form id="orderPlace"> 
            <input type="hidden" id="user_id" name="user_id" value="<%=user%>">
            <input type="hidden" id="seller_id" name="seller_id" value="<%=respdata.seller_id%>">
            <input type="hidden" id="cart_id" name="cart_id" value="<%=respdata.cart_id%>">
            <input type="hidden" id="product_id" name="product_id" value="<%=respdata.product_id%>">
            <input type="hidden" id="total_amt" name="total_amt" value="<%=respdata1%>">
            <input type="hidden" id="gst" name="gst" value="28">
            <input type="hidden" id="product_price" name="product_price" value="<%=respdata.product_price%>">
            <input type="hidden" id="payment_method" name="payment_method" value="0">
         </form> 
          <div class="bids-row cart-row">             
             <div class="br-details">
                <div class="bid-images">
                    <img src="<%=respdata.images%>" alt="images" class="img-fluid"> 
                </div>
                <div class="bid-info">
                   <div class="bd-title"><%=respdata.product_name%></div>
                   <div class="bd-price">
                      <span><i class="fa fa-inr" aria-hidden="true"></i></span>
                      <%=respdata.product_price%>
                   </div>
                   <div class="rtl-price"><span>Est. Retail:</span><i class="fa fa-inr" aria-hidden="true"></i><%=respdata.product_est_price%> </div>                
                </div>
             </div>
            
             <div class="br-results cart-right-box">
                <div class="cart-price">
                   <p>Final Bid Price</p>
                   <div class="highlight-title "><span><i class="fa fa-inr" aria-hidden="true"></i></span><%=respdata.product_price%></div>
                </div>
                <div class="cart-action">
                   <div class="remove-cart">
                      <a href="/api/delete-cart/<%=respdata._id%>"><i class="fa fa-times" aria-hidden="true"></i></a>
                   </div>
                </div>
             </div>
          </div>
       </div>      
       <div class="cart-summery">
          <div class="summery-title">
             <h4>Price details</h4>
          </div>
          <div class="c-summery-table">
             <table class="table table-borderless">  
                 <tbody>
                   <tr> 
                       <td>Price <small>(1 item)</small></td>
                       <th><i class="fa fa-inr" aria-hidden="true"></i><%=respdata.product_price%></th> 
                     </tr>
                     <tr>
                       <td>Packing & Handling Charges</td>
                       <th><i class="fa fa-inr" aria-hidden="true"></i> 250</th> 
                     </tr>
                     <tr>
                        
                       <td>GST<small>(18% Packing & Handling Charges)</small></td>
                        <th><i class="fa fa-inr" aria-hidden="true"></i> <%=(respdata.product_price*28)/100;%></th> 
                     </tr>
                     <tr class="border-top total-table">
                       <td><strong>Total Amount</strong></td>
                       <th><i class="fa fa-inr" aria-hidden="true"></i><%=respdata1%></th> 
                     </tr>
                 </tbody>
              </table> 
          </div>
        
          <div class="summery-button">
          <!-- <a class="btn check-out">Place Order</a>-->
          <input type="button" class="btn check-out" value="Proceed to Checkout">
         </div> 
          

       </div>
      </div>        
   </div>
</section> 
       <% } else { %>        
         <section class="bids-wrapper empty-content ">
            <div class="container">
              <div class="ec-box">
                 <h6>Your shopping cart is empty</h6>
                 <p>Please browse products to add in your cart!</p>
                 <a href="/api/webSubCategories" class="bc-btn">Continue Shopping</a>
              </div> 
            </div>
           </section> 
       <% } %>    
    

<%- include('../../public/assets/include/newsletter'); %>
<%- include('../../public/assets/include/footer'); %>

<script>
$(document).on("click", ".check-out", async function(e) {
   
    //e.preventDefault();

    window.location.href = '/api/checkout-web';

   //  let formData = {
   //      cart_id: $('#cart_id').val(),       
   //      seller_id: $('#seller_id').val(),
   //      user_id: $('#user_id').val(),
   //      product_id: $('#product_id').val(),
   //      total_amt: $('#total_amt').val(),
   //      gst: $('#gst').val(),
   //      payment_method: $('#payment_method').val(),
   //      product_price: $('#product_price').val()
   //  };
   //  let addToCartreCookieAccessToken = await getCookieFunc(accessTokenVar);
   //  let addToCartreCookieRefreshToken = await getCookieFunc(refreshTokenVar);
   //  await userReLogin(addToCartreCookieAccessToken, addToCartreCookieRefreshToken);

   /* $.ajax({
        type: 'POST',
        url: '/api/checkout-web', // URL to submit the form data to (process.php in this case)
        data: { data: formData },
        //dataType: "json",
      //   success: function(response) {
      //      if(response.is_orderPlaced == 1)
      //      {
      //         Swal.fire({
      //            html: response.message,  
      //            confirmButtonText: "OK",
      //            customClass: { confirmButton: 'alert-box-button' }
      //         });
      //         setTimeout(() => {
      //            window.location.href = '/api/home';
      //         }, 5000);
      //      }
      //   },
      //   error: function(xhr, status, error) {
      //       // Handle errors
      //   }
    });*/
});

</script>
