<%- include('../../public/assets/include/header'); %>

<!DOCTYPE html>
<html lang="en">
<script>
   let isLoggedIn = "";
</script>

<section class="home-banner-slider">
    <!-- <div class="container"> -->
       <div class="slider banner-slider">
         <% banner.forEach(function (item){ %>
           <!-- // <img src="<%=item.image%>" /> -->
            <div class="slider-item">
               <img src="<%=item.image%>" alt="images" class="img-fluid">
            </div>
         <% }) %>
         
          <!-- <div class="slider-item">
             <img src="/public/assets/images/banner1.jpg" alt="images" class="img-fluid">
          </div> -->
       </div>
    <!-- </div> -->
 </section>
 <section class="product-wrapper pd-40 pdt-80" id="best-deals-section">
   <div class="container">
      <div class="top-title">
         <div class="title-box">
            <h3>Best Deals</h3>
         </div>
         <div class="short-box">
            <a href="/api/bestdeal">See All</a>
         </div>
      </div>
      <div class="slider product_Slider product_Slider1" id="best-deals-slider">

         
      </div>
   </div>
</section>

 <section class="poster-wrapper pd-40">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="poster-box">
                <a href="javascript:void(0)">
                <img src="/public/assets/images/rebannerseller.webp" alt="images" class="img-fluid">
                </a>
             </div>
          </div>
          <div class="col-md-6">
             <div class="poster-box">
                <a href="javascript:void(0)">
                <img src="/public/assets/images/rebannerbuyer.webp" alt="images" class="img-fluid">
                </a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="product-wrapper pd-40" id="whats-hot-section">
    <div class="container">
       <div class="top-title">
          <div class="title-box">
             <h3>What's Hot</h3>
          </div>
          <div class="short-box">
             <a href="/api/whatshot">See All</a>
          </div>
       </div>
       <div class="slider product_Slider product_Slider1" id="whats-hot-slider">
          
       </div>
    </div>
 </section>
 <section class="product-wrapper pd-40 pdb-80 " id="just-sold-section">
    <div class="container">
       <div class="top-title">
          <div class="title-box">
             <h3>Just Sold</h3>
          </div>
          <div class="short-box">
             <a href="/api/justsold">See All</a>
          </div>
       </div>
       <div class="slider product_Slider product_Slider1 " id="just-sold-slider">
          
       </div>
    </div>
 </section>
 <section class="policy_box">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="icon-sidebox">
                <div class="side-icon"><img src="/public/assets/images/check-icon.png" alt="images"></div>
                <div class="sidebox-info">
                   <h6>Internal quality check</h6>
                   <p>Team BFS does initial quality checks before delivering</p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="icon-sidebox">
                <div class="side-icon"><img src="/public/assets/images/return-icon.png" alt="images"></div>
                <div class="sidebox-info">
                   <h6>Hassle Free Returns</h6>
                   <p>No questions asked return within 24 hours*
                  </p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="icon-sidebox">
                <div class="side-icon"><img src="/public/assets/images/payment-icon.png" alt="images"></div>
                <div class="sidebox-info">
                   <h6>Secure Payment</h6>
                   <p>Safe and hassle-free shopping with secure payment gateways</p>
                </div>
             </div>
          </div>
       </div>
    </div>
   </section>
 <%- include('../../public/assets/include/newsletter'); %>
  <%- include('../../public/assets/include/footer'); %>
</body>
<script>
   async function fetchData() {
     try {
       const response = await fetch('/api/app-home');
       const data = await response.json();

         isLoggedIn = data.isLoggedIn;
     // Best deal populate
       const bestDeals = data.respdata.best_deal;
       
       const bestDealsSlider = document.getElementById('best-deals-slider');
       populateSlider(bestDealsSlider, bestDeals);

        // whats hot populate
        const whatshot = data.respdata.whats_hot;
        
        const whatshotSlider = document.getElementById('whats-hot-slider');
        populateSlider(whatshotSlider, whatshot);
        
        
        // Just sold populate
        const justsold = data.respdata.just_sold;
        
        const justsoldSlider = document.getElementById('just-sold-slider');
        populateSlider(justsoldSlider, justsold);
        
        
        
      
      $('.product_Slider1').removeClass("slick-initialized slick-slider");
      $('.product_Slider1').slick({
         dots: false,
         infinite:true,  
         speed: 300,
         slidesToShow: 4,
         loop:true,
         slidesToScroll: 1,
         autoplay: true,
         autoplaySpeed: 3500, 
         responsive: [ 
         {
               breakpoint:991,
               settings: {
               slidesToShow: 3,        
               }
            },   
            {
               breakpoint:767,
               settings: {
               slidesToShow: 2,        
               }
            }
         ]
         });

     } catch (error) {
       console.error('Error fetching data:', error);
     }
   }

   function populateSlider(sliderElement, data, isLoggedIn = "") {
         data.forEach(item => {
         const sliderItem = document.createElement('div');
         sliderItem.classList.add('slider-item');
         let html = ``;
         html += `
         <div class="product-box">
            <div class="product-image">
               <a href="/api/productdeatils/${item._id}"><img src="${item.image}" alt="images" class="img-fluid"></a>
            </div>
            <div class="prd-short-info">
               <div class="prd-name"><a href="javascript:void(0)">${item.name}</a></div>
               <div class="prd-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>${item.offer_price}</div>
               <div class="rtl-price"><span>Est. Retail:</span>₹${item.price}</div>
            </div>
            <div class="prd-button-group">`;
            if(item.flag == 0) {
               html += `<a href="javascript:void(0)" class="prd-btn buy-btn" data-id="${item._id}">Buy Now</a>`;
               //if(isLoggedIn != "") {
                  html += `<a href="javascript:void(0)" class="prd-btn orng-btn bidButton">Bid Now</a>`;
               //}
            }
               
            html += `</div>
            <div class="prd-batch">${item.status}</div>
         </div>
         `;
         sliderItem.innerHTML = html;
         sliderElement.appendChild(sliderItem);
      });

   }


   window.onload = fetchData;
   
  
    $(document).ready(async function(){
        var id1 = $('#userReloggedIn').val();

        let cartListreCookieAccessToken = await getCookieFunc(accessTokenVar);
        let cartListreCookieRefreshToken = await getCookieFunc(refreshTokenVar);
        await userReLogin(cartListreCookieAccessToken, cartListreCookieRefreshToken);
        
        $.ajax({
                 url: '/api/cart-list', // Route on the server to handle the request
                 data: {id1:id1},
                 method: 'POST',
                 success: function(data) 
                  {
                      console.log('Danger Alert');
                  },
                 error: function(err) 
                  {
                      console.error('Error:', err);
                  } 
        });
   });


</script>
