<%- include('../../public/assets/include/header'); %>

   <section class="bids-wrapper">
      <div class="container">
         <div class="bids-lists cart-wrapper">
            <div class="cart-list">

               <div class="bids-row checkout-row">
                  <div class="checkout-top">
                     <div class="checkout-info">
                        <div class="ci-count"><span>1</span></div>
                        <div class="ci-content">
                           <div class="bd-title">Login</div>
                           <p>Hi, <%=user.name;%>, <%=user.email;%>
                           </p>
                        </div>
                     </div>
                     <!-- <div class="checkout-action">
             <a href="javscript:void(0)" class="ca-edit">Change</a>
          </div> -->
                  </div>

               </div>

               <div class="bids-row checkout-row">
                  <div class="checkout-top">
                     <div class="checkout-info">
                        <div class="ci-count"><span>2</span></div>
                        <div class="ci-content">
                           <div class="bd-title">Delivery Address</div>
                        </div>
                     </div>
                  </div>

                  <div class="checkout-tab">
                     <!--addressUserList.length > 0 || addressUserList[0].default_status ==  0 -->
                     <% let i=0; %>
                        <%addressUserList.forEach(function(item) {%>
                           <div class="form-check-inline">

                              <label class="tab1 select-tab" for="radio2">
                                 <div class="st-tab">
                                    <input type="radio" <%if(i==0 ){%>checked<%}%> class="form-check-input
                                       checkbox-select" id="radio2" name="optradio" value="<%=item._id%>">
                                 </div>
                                 <div class="st-info">
                                    <h6 class="active-title">
                                       <%=item.address_name%>
                                    </h6>
                                    <p>
                                       <%=item.address1%>,<%=item.street_name;%>, <%=item.city_name;%>,
                                                <%=item.state_name;%>, <%=item.pin_code;%>
                                    </p>
                                 </div>
                                 <input type="hidden" name="userAddressId" id="userAddressId" value="<%=item._id%>">
                              </label>
                           </div>
                           <% i++;%>
                              <%});%>
                                 <div class="form-check-inline">
                                    <label class="tab1 select-tab" for="radio2">
                                       <div class="st-tab"><input type="radio" <%if(addressUserList.length==0
                                             ){%>checked<%}%> class="form-check-input address-hide-show" id="radio2"
                                             name="optradio" value="option2"></div>
                                       <div class="st-info">
                                          <h6 class="active-title">Add a New Address</h6>
                                       </div>
                                    </label>
                                 </div>
                                 <% //if(addressUserList.length=='' ){%>
                                    <div class="address-form-open" style="display:none;">
                                       <form action="/user-new-checkout-address" method="POST"
                                          onsubmit="setAddressType()">
                                          <div class="form-box">
                                             <div class="loginform-box">
                                                <div class="">
                                                   <label class="full-label">Address Type:</label>
                                                   <div class="form-check-inline radio-label">
                                                      <label class="form-check-label">
                                                         <input type="radio" class="form-check-input addr_type"
                                                            id="add_type1" name="addr_type" value="Home" checked>Home
                                                      </label>
                                                      <label class="form-check-label">
                                                         <input type="radio" class="form-check-input addr_type"
                                                            id="add_type2" name="addr_type" value="Office">Office
                                                      </label>
                                                      <label class="form-check-label">
                                                         <input type="radio" class="form-check-input addr_type"
                                                            id="add_type3" name="addr_type" value="Other">Other
                                                      </label>
                                                   </div>
                                                   <input type="hidden" name="addrType" id="addrType">
                                                </div>
                                                <input type="hidden" name="addrType" id="addrType">
                                                <div class="row">
                                                   <div class="col-md-12 "><input type="text" class="form-control mb-3"
                                                         id="address1" placeholder="Address 1" name="address1"></div>
                                                   <div class="col-md-12"><input type="text" class="form-control mb-3"
                                                         id="address2" placeholder="Address 2" name="address2"></div>
                                                   <div class="col-md-6"><input type="text" class="form-control mb-3"
                                                         id="landmark" placeholder="Landmark" name="landmark"></div>
                                                   <div class="col-md-6"><input type="text" class="form-control mb-3"
                                                         id="city_name" placeholder="City / Town" name="city_name">
                                                   </div>
                                                   <div class="col-md-6"><input type="text" class="form-control mb-3"
                                                         id="state_name" placeholder="Enter State" name="state_name">
                                                   </div>
                                                   <div class="col-md-6"><input type="text" class="form-control mb-3"
                                                         id="pin_code" placeholder="Enter Pincode" name="pin_code">
                                                   </div>
                                                   <div class="col-md-12">
                                                      <div class="button-row">
                                                         <button type="submit" class="btn liginbtn">Save & Delivery
                                                            Here</button>
                                                         <button type="submit" class="btn ">Cancel</button>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                    <% //}%>
                                       <div class="userOrderDetails" id="userOrderDetails">
                                          <input type="hidden" id="user_id" name="user_id" value="<%=user.userId%>">
                                          <input type="hidden" id="seller_id" name="seller_id"
                                             value="<%=respdata.seller_id%>">
                                          <input type="hidden" id="cart_id" name="cart_id"
                                             value="<%=respdata.cart_id%>">
                                          <input type="hidden" id="product_id" name="product_id"
                                             value="<%=respdata.product_id%>">
                                          <input type="hidden" id="total_amt" name="total_amt" value="<%=finalPrice%>">
                                          <input type="hidden" id="gst" name="gst" value="28">
                                          <input type="hidden" id="product_price" name="product_price"
                                             value="<%=respdata.product_price%>">
                                          <input type="hidden" id="payment_method" name="payment_method" value="0">
                                       </div>
                  </div>
               </div>
            </div>
            <div class="cart-summery">
               <div class="summery-title">
                  <h4>Price details</h4>
               </div>
               <div class="c-summery-table">
                  <table class="table table-borderless">
                     <tbody>
                        <tr>
                           <td>Price <small>(1 items)</small></td>
                           <th><i class="fa fa-inr" aria-hidden="true"></i>
                              <%=product_price%>
                           </th>
                        </tr>
                        <tr>
                           <td colspan="2">
                              <div class="payment-methodbox">
                                 <p>Select Payments Method </p>
                                 <ul>
                                    <li><label class="form-check-label">
                                          <input type="radio" class="form-check-input payment-method"
                                             name="paymentmethod" value="Online">Pay Now
                                       </label>
                                    </li>
                                    <li>
                                       <label class="form-check-label" for="cod-payments">
                                          <input type="radio" class="form-check-input payment-method" id="cod-payments"
                                             name="paymentmethod" value="COD">Pay On Delivery
                                       </label>
                                    </li>
                                 </ul>
                                 <div class="pmnt-hidebox">
                                    <table style="width:100%">
                                       <tr id="pay-now-row">
                                          <td>Booking Amount</td>
                                          <th><i class="fa fa-inr" aria-hidden="true"></i> 200</th>
                                       </tr>
                                       <tr id="remaining-amount-row">
                                          <td><small>Rest Amount Pay on Delivery</small></td>
                                          <th><i class="fa fa-inr" aria-hidden="true"></i> 200</th>
                                       </tr>
                                    </table>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>Packing & Handling Charges</td>
                           <th><i class="fa fa-inr" aria-hidden="true"></i> 250</th>
                           <td><button onclick="checkShippingAmount(<%= product_id %>)">Check Shipping Amount</button></td>
                        </tr>
                        <tr>
                           <td>GST<small>(14% SGST & 14% CGST)</small></td>
                           <th><i class="fa fa-inr" aria-hidden="true"></i>
                              <%=gst%>
                           </th>
                        </tr>
                        <tr class="border-top total-table" id="total-cod-amount-row">
                           <td><strong>Total Amount</strong></td>
                           <th><i class="fa fa-inr" aria-hidden="true"></i>
                              <%=finalPrice%>
                           </th>
                        </tr>
                        <tr>
                           <td colspan="2">
                              <label class="checkbox-label">
                                 <input type="checkbox" class="checkbox-input" value="">
                                 <span>I agree with all <a href="#">Terms & condition</a></span>
                              </label>
                           </td>
                           <p id="error-message"></p>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="summery-button">
                  <button class="btn check-out" type="button">Place Order</button>
               </div>
            </div>
         </div>
      </div>
   </section>

   <%- include('../../public/assets/include/newsletter'); %>
      <%- include('../../public/assets/include/footer'); %>
      <script>
         function checkShippingAmount(product_id) {
           // Add your logic to check the expected shipping amount here
           // Assuming product_id is a parameter passed to the function
       
           fetch("/getshipmentvalue", {
             method: "POST",
             headers: {
               "Content-Type": "application/json",
             },
             body: JSON.stringify({ product_id: product_id }),
           })
             .then(response => response.json())
             .then(data => {
               // Handle the response from the server
               console.log("Response from server:", data);
               // You can update the UI or perform additional actions based on the server's response
             })
             .catch(error => {
               console.error("Error:", error);
               // Handle errors if any
             });
         }
       </script>
       
       

         <script>
            $(document).ready(function () {
               $('.pmnt-hidebox').hide();
               var originalTotalAmount = parseFloat('<%= finalPrice %>');

               $(document).on('change', '.payment-method', function () {
                  if ($(this).val() === "COD") {
                     $('.pmnt-hidebox').show();
                     var productPrice = parseFloat('<%= product_price %>');
                     var payNowAmount = productPrice * 0.10;
                     $('#pay-now-row th').text('₹ ' + payNowAmount.toFixed(2));
                     var remainingAmount = productPrice - payNowAmount;

                     $('#remaining-amount-row th').text('₹ ' + remainingAmount.toFixed(2));

                     var productPrice = parseFloat('<%= product_price %>');
                     var gst = parseFloat('<%= gst %>');
                     var totalAmount = payNowAmount + 250 + gst;

                     $('#total-cod-amount-row th').text('₹ ' + totalAmount.toFixed(2));
                  } else {
                     $('.pmnt-hidebox').hide();
                     $('#total-cod-amount-row th').text('₹ ' + originalTotalAmount.toFixed(2));
                  }
               });
            });
            function setAddressType() {
               var selectedAddrType = document.querySelector('input[name="addr_type"]:checked');
               if (selectedAddrType) {
                  document.getElementById('addrType').value = selectedAddrType.value;
               }
            }

            $(document).on('click', '.address-hide-show', function () {
               $('.address-form-open').show();
               $('.check-out').prop('disabled', true);
            });

            $(document).on('click', '.checkbox-select', function () {
               var add_id = $('input[name=optradio]:checked').val();
               $('#userAddressId').val(add_id);
               $('.address-form-open').hide();
               $('.check-out').prop('disabled', false);
            });

            // $(document).on('click', '.check-out', async function (e) {
            //    e.preventDefault();
            //    if (!$('.checkbox-input').is(':checked')) {
            //       $(".check-out").css("pointer-events", "none");
            //    }
            //    $(".check-out").css("pointer-events", "auto");
            // });
            function displayErrorMessage(message) {
               console.log("kana" + message);
               $("#error-message").html(message).addClass("error-msg");
            }

            $(document).on("click", ".check-out", async function (e) {
               e.preventDefault();
               $("#error-message").html("");
               let agreeCheckbox = $(".checkbox-input");

               if (!agreeCheckbox.prop("checked")) {
                  displayErrorMessage("Please agree to the Terms & Conditions.");
                  return;
               }

               let selectedPaymentMethod = $(".payment-method:checked").val();
               if (!selectedPaymentMethod) {
                  displayErrorMessage("Please select a payment method.");
                  return;
               }

               $(".check-out").css("pointer-events", "none");
               let selectedMethod = $(".payment-method:checked").val();
               if (selectedMethod == "COD") {
                  selectedPaymentMethod = 0;
               } else {
                  selectedPaymentMethod = 1;
               }
               $(".check-out").css("pointer-events", "none");
               let formData = {
                  cart_id: $('#cart_id').val(),
                  seller_id: $('#seller_id').val(),
                  user_id: $('#user_id').val(),
                  product_id: $('#product_id').val(),
                  gst: $('#gst').val(),
                  payment_method: selectedPaymentMethod,
                  product_price: $('#product_price').val(),
                  addressBookId: $('#userAddressId').val()
               };
               if (selectedPaymentMethod == 0) {
                  formData.pay_now = $('#pay-now-row th').text().replace(/[^\d.-]/g, '').trim();
                  formData.remaining_amount = $('#remaining-amount-row th').text().replace(/[^\d.-]/g, '').trim();
               }
               let totalAmtText = $('#total-cod-amount-row th').text();
               let totalAmtValue = parseFloat(totalAmtText.replace('₹ ', ''));
               formData.total_amt = totalAmtValue;

               console.log(formData);

               let addToCartreCookieAccessToken = await getCookieFunc(accessTokenVar);
               let addToCartreCookieRefreshToken = await getCookieFunc(refreshTokenVar);
               await userReLogin(addToCartreCookieAccessToken, addToCartreCookieRefreshToken);


               //  location.href='/pay';
               $.ajax({
                  type: 'POST',
                  url: '/demoplacedorder',
                  data: { data: formData },
                  dataType: "json",
                  success: function (response) {
                     if (response.is_orderPlaced == 1) {
                       // console.log(response.order._id);
                        const tempOrderId = response.order._id;
                        window.location.href = '/pay?temp=' + tempOrderId; 
                     }
                  },
                  error: function (xhr, status, error) {
                     $(".check-out").css("pointer-events", "auto");
                  }
               });

            });

         </script>