<%- include('../../public/assets/include/header'); %>

<section class="dashboard-wrapper">
   <div class="dashboard-container">

      <div class="dashboard-sidbar">
         <div class="sidbar-box user-profile">
             <div class="user-icon">
               <img src="<%=userData.image%>" alt="user-image" id="output">
             </div>
             <div class="user-info">
               <div class="sht-ui">Hello</div>
               <div class="user-name"><%=userData.title%> <%=userData.name%> </div>
             </div>
             <!-- Profile Image Modal Start -->   
   
            <div class="userimage-edit">
              <!--  <a href="javascript:void(0)" data-toggle="modal" data-target="#profile-change-modal"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
                <!--<label for="file"><i class="fa fa-pencil" aria-hidden="true"></i></label>-->
                <!--<input id="file" class="file-line" type="file" onchange="loadFile(event)">-->
                <label>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#upload-profile-modal" class="edit_link">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </label>
             </div>

            <div class="modal theme_modal short-modal change-profile-update" id="upload-profile-modal">
               <div class="modal-dialog">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="modal-content">
                     <div class="loginform-box short-box">
                        <h5 class="box-title">Change Profile Picture</h5>
                        <form action="/api/change-profile-image-web" method="POST" enctype="multipart/form-data">
                             <div class="inner-formbox">
                                <div class="profile-chnage-box">
                                   <div class="user-icon">
                                      <img src="<%=userData.image%>" alt="user-image" id="output">                            
                                   </div>
                                   <input id="file" class="" name="pro_img" type="file"/>
                                   <input id="user_id" class="" name="user_id" type="hidden" value="<%=respdata.userId%>"/>
                                   <input class="update-btn" type="submit" value="Update Profile" />
                                </div>
                             </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
 <!-- Profile Image Modal End -->
         </div>
         <div class="sidbar-box sidbar-nav">
            <ul class="nav d-flex flex-column mb-2 ">
                <li class="nav-item">
                    <a class="nav-link" href="/api/my-account"><i class="fa fa-user" aria-hidden="true"></i> <span>Profile</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-list-ul" aria-hidden="true"></i> <span>My Orders</span></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/api/my-post/<%=userData.userId%>"><i class="fa fa-file-image-o" aria-hidden="true"></i> <span>My Product</span></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/api/bid-for-product"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span>My Bids</span></a>
                  </li>
                      
                    </ul>
                    <div class="bottom-link">
                     <ul class="nav d-flex flex-column mb-2 ">
                        <li><a class="nav-link signout" id="signout" href="javascript:void(0)"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Sign Out</span></a></li>
                     </ul>

                       
                    </div>

         </div>         
      </div>





      <div class="dashboard-content">
         <div class="dashboard-infobox">
            <div class="dashboard-title-arrow mb-25">
               <h4 class="di-title mr-25">My Product</h4>
               <!--<div class="edit-link"><a href="/api/my-account">Back </a></div>&nbsp;&nbsp;-->
               <div class="edit-link"><a href="/api/add-post">Add Product </a></div>
            </div>
            <%if(respdata.length === 0){%>
               <div class="all-postview">
                  <p>No Product Found</p>
               </div>
               <%}else{%>
            <div class="all-postview">
               <% respdata.forEach(function(item){%>
                <% console.log(item)%>
                <div class="user-postbox">
                  <div class="inner-postbox">
                     <div class="product-image">
                         <% if(item.product_images !=''){%>
                        <img src="<%=item.product_images[0].image%>" alt="images" class="img-fluid">
                        <% }%>
                     </div>
                     <div class="prd-short-info">
                     <div class="psi-left">
                        <div class="prd-name"><%=item.name%></div>
                        <div class="rtl-price"><span>Est. Retail:</span>₹<%=item.price%></div>
                        <div class="prd-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span><%=item.offer_price%></div>
                     </div>
                     <div class="psi-right">
                        <a href="/api/edit-mypost/<%=item._id%>" class="edit-postbox"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                     </div>
                  </div>
                  <div class="prd-batch">Like New</div>
                  <div class="link-top top-circle1"><a href="javascript:void(0)"><i class="fa fa-print" aria-hidden="true"></i></a></div>
                  <div class="link-top top-circle2"><a href="javascript:void(0)"><i class="fa fa-gift" aria-hidden="true"></i></a></div>
                  </div>
               </div>
               <% }); %>
               <%}%>
               
              

            </div>
            <!-- <div class="dsh-shortbox">
               <form>
                  <div class="div-row">
                     <div class="div-12">
                        <label>Name:</label>
                        <input type="type" name="" class="ds-form-control" placeholder="Enter Name">
                     </div>
               
                     <div class="div-6">
                        <label>Email:</label>
                        <input type="email" name="" class="ds-form-control" placeholder="Enter Email">
                     </div>
               
                     <div class="div-6">
                        <label>Phone Number:</label>
                        <input type="type" name="" class="ds-form-control" placeholder="Phone Numberl">
                     </div>
                     <div class="div-12">
                        <input type="submit" name="" class="ds-form-control" value="Save">
                     </div>
                  </div>
               </form>
               
               </div> -->
         </div>
      </div>
   </div>
</section>

<%- include('../../public/assets/include/newsletter'); %>
<%- include('../../public/assets/include/footer'); %>
</body>